// Reset
// -----

* {
	padding: 0;
	margin: 0;
	text-align: left;
	font-weight: 100;
	vertical-align: top;
}

// Base styling
// ------------
.body {
	/* Box model stuff */
	.width();
	margin: 0 auto;

	/* colour defaults */
	color: @font-color;
	font-size: @font-size-base;
	background-color: @background-color;
}

h1 { font-size: @font-size-h1; }
h2 { font-size: @font-size-h2; }
h3 { font-size: @font-size-h3; }
h4 { font-size: @font-size-h4; }
h5 { font-size: @font-size-h5; }
h6 { font-size: @font-size-h6; }

p {
	font-size: @font-size-base;
}

img {
	.border-radius;
}

// Forcing all elements to use the base font color
h1, h2, h3, h4, h5, h6, p, td {
	color: @font-color;
}

// Table Lists
// -----------

.ul-list {
	tr td:first-child {
		text-align: right;
		width: 13px;
	}
}

// HTML lists - Use at your own risk, not supported in Outlook 2007 +
// ----------
ol, ul {
	color: @font-color;
	.lr-padding( 30px, 0 );

	li {
		.tb-padding( 1px, 1px );
	}
}